---
import Star from '../components/star';
import NavBar from '../components/navbar.astro';

const stars = Array(100).fill(null);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Samuel Fernandez</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap" rel="stylesheet"> 
  </head>
  <body class="dark:bg-bgc text-white">
    <div class="relative">
      {
        stars.map(() => <Star client:load />)
      }
    </div>
    <NavBar />
	  <h2 class="text-center text-3xl">Something went wrong... Try emailing me directly at <a class="text-blue-700" href={`mailto:${import.meta.env.PUBLIC_EMAIL_TO}?subject=[PORTFOLIO] `}>{import.meta.env.PUBLIC_EMAIL_TO}</a></h2>
  </body>
</html>
