---
import Star from "../components/star";
import NavBar from "../components/navbar.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Blog from "../components/blog.astro";
import Floaters from "../components/floaters.astro";

const stars = Array(100).fill(null);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Samuel Fernandez</title>

    <style is:global>
      @font-face {
        font-family: "Dosis";
        src: url("fonts/Dosis.ttf") format("truetype");
      }
      @font-face {
        font-family: "Space Grotesk";
        src: url("fonts/SpaceGrotesk.ttf") format("truetype");
      }
    </style>
  </head>
  <body class="text-white dark:bg-bgc">
    <div>
      <Floaters />
      {stars.map(() => <Star client:load />)}
    </div>
    <NavBar />
    <div class="flex items-center justify-center">
      <div class="w-5/6">
        <div class="flex flex-col items-center justify-start">
          <About />
          <Projects />
          <Blog />
        </div>
      </div>
    </div>

    <script>
      // Credit to https://codepen.io/RobotWizard/pen/rRVKVa for animation code
      const screenHeight = window.innerHeight;
      const screenWidth = window.innerWidth;

      const speed = 2;

      let floaters = document.querySelectorAll(".floater");
      floaters.forEach((floater) => {
        const id = floater.id;
        const dialog = document.getElementById(`${id}-dialog`);
        dialog.close();
        floater.addEventListener("click", () => {
          dialog.showModal();
          dialog.style.display = "flex";
          dialog.querySelectorAll("button").forEach((button) => {
            button.addEventListener("click", () => {
              dialog.style.display = "none";
              dialog.close();
            });
          });
        });

        let x = Math.random() * screenWidth;
        let y = Math.random() * screenHeight;

        const floaterW = floater!.clientWidth;
        const floaterH = floater!.clientHeight;

        let dirX = Math.random() + 0.25;
        let dirY = Math.random() + 0.25;
        function animate() {
          if (y + floaterH >= screenHeight || y < 0) {
            dirY *= -1;
          }
          if (x + floaterW >= screenWidth || x < 0) {
            dirX *= -1;
          }

          x += dirX * speed;
          y += dirY * speed;

          floater!.style.left = x + "px";
          floater!.style.top = y + "px";

          window.requestAnimationFrame(animate);
        }

        window.requestAnimationFrame(animate);
      });
    </script>
  </body>
</html>
