---
import { getCollection } from "astro:content";

import Project from "../components/project.astro";
import BaseLayout from "../layouts/baseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
  <meta
    name="description"
    content="Homepage of Samuel Fernandez, a nerdy student and developer who loves learning,
making cool stuff, and solving problems!"
    slot="metadata"
  />
  <main>
    <div class="flex items-center justify-center">
      <div class="w-5/6">
        <div class="flex flex-col items-center justify-start">
          <section
            id="about"
            class="z-20 my-10 flex w-11/12 flex-col items-center justify-center justify-items-center rounded-sm border-2 border-border bg-bgc text-center text-white transition-all duration-300 [filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.25))] hover:[filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.5))] lg:w-2/3">
            <p class="p-8 text-2xl md:p-16 md:text-3xl lg:text-4xl">
              Hey! I&apos;m Samuel, a nerdy student and developer who loves
              learning, making cool stuff, and solving problems!
            </p>
          </section>

          <section id="projects" class="z-20 my-5 w-full">
            <h2
              class="my-2 text-center font-space-grotesk text-4xl lg:text-5xl">
              Projects
            </h2>
            <p class="text-center text-2xl lg:text-3xl">
              Here's some stuff that I've either built or made major
              contributions to
            </p>
            <div class="m-2 columns-1 md:columns-2 lg:columns-3">
              {projects.map((project) => <Project project={project} />)}
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.querySelectorAll(".projectDiv").forEach((div) => {
      div.addEventListener("click", () => {
        const slug = div.attributes.getNamedItem("data-slug")?.value;

        if (slug) {
          window.location.href = `/projects/${slug}`;
        }
      });
    });
  </script>
</BaseLayout>
