---
import Star from "../components/star.astro";
import NavBar from "../components/navbar.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";
import Blog from "../components/blog.astro";
import Floaters from "../components/floaters.astro";

const stars = Array(100).fill(null);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Homepage of Samuel Fernandez, a nerdy student and developer who loves learning,
    making cool stuff, and solving problems!"
    />
    <title>Samuel Fernandez</title>

    <style is:global>
      @font-face {
        font-family: "Dosis";
        font-display: swap;
        src: url("/fonts/Dosis.ttf") format("truetype");
      }
      @font-face {
        font-family: "Space Grotesk";
        font-display: swap;
        src: url("/fonts/SpaceGrotesk.ttf") format("truetype");
      }
    </style>
  </head>
  <body class="text-white dark:bg-bgc">
    <div>
      <Floaters />
    </div>
    <div class="fixed">
      {stars.map(() => <Star />)}
    </div>
    <NavBar />
    <div class="flex items-center justify-center">
      <div class="w-5/6">
        <div class="flex flex-col items-center justify-start">
          <About />
          <Projects />
          <Blog />
        </div>
      </div>
    </div>

    <script src="../util/drawFloaters.ts"></script>
    <script src="../util/drawStars.ts"></script>
  </body>
</html>
