---
import Star from "../components/star";
import NavBar from "../components/navbar.astro";
import About from "../components/about.astro";
import Projects from "../components/projects.astro";

const stars = Array(100).fill(null);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Samuel Fernandez</title>

    <style is:global>
      @font-face {
        font-family: "Dosis";
        src: url("fonts/Dosis.ttf") format("truetype");
      }
      @font-face {
        font-family: "Space Grotesk";
        src: url("fonts/SpaceGrotesk.ttf") format("truetype");
      }
    </style>
  </head>
  <body class="text-white dark:bg-bgc">
    <div class="relative">
      {stars.map(() => <Star client:load />)}
    </div>
    <NavBar />
    <div class="flex items-center justify-center">
      <div class="w-5/6">
        <div class="flex flex-col items-center justify-start">
          <About />
          <Projects />
        </div>
      </div>
    </div>
  </body>
</html>
