---

---

<section
  id="about"
  class="my-20 flex w-3/4 flex-col items-center justify-center justify-items-center rounded-sm border-2 border-border bg-bgc text-center text-white [filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.25))] lg:w-2/3">
  <p class="p-8 text-3xl md:p-16 md:text-4xl lg:text-5xl">
    Hey! I&apos;m Samuel, a nerdy student and developer who loves learning,
    making cool stuff, and solving problems!
  </p>
</section>
