---

---

<section class="grid grid-cols-2 items-center justify-items-center m-10 text-white text-center">
	<p class="text-3xl p-10">
		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</p>
	<div class="w-96 h-96" style={{
		background: 'radial-gradient(50% 50% at 50% 50%, #0A0A0A 80.47%, #0085FF 91.65%, #000000 100%)'
	}}>
		<!-- add picture here -->
	</div>
</section>