---

---

<section id="about" class="bg-bgc lg:grid lg:grid-cols-2 flex flex-col-reverse justify-center items-center justify-items-center m-4 lg:m-10 text-white text-center">
	<p class="text-3xl m-2 lg:m-10">
		<!-- add short introduction here -->
		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
		Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
	</p>
	<div class="w-80 h-80 lg:w-96 lg:h-96" style={{
		background: 'radial-gradient(50% 50% at 50% 50%, #0A0A0A 80.47%, #0085FF 91.65%, #000000 100%)'
	}}>
		<!-- add picture here -->
	</div>
</section>