---

---

<section
  id="about"
  class="my-4 flex flex-col items-center justify-center justify-items-center rounded-sm border-2 border-border bg-bgc text-center text-white [filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.25))] lg:my-10">
  <p class="m-2 text-3xl lg:m-10">
    Hey! I&apos;m Samuel, a nerdy student and developer who loves learning,
    making cool stuff, and solving problems!
  </p>
</section>
