---

---

<section id="about" class="bg-bgc border-border rounded-sm border-2 [filter:drop-shadow(5px_5px_20px_rgba(255,255,255,0.25))] flex flex-col justify-center items-center justify-items-center my-4 lg:my-10 text-white text-center">
	<p class="text-3xl m-2 lg:m-10">
		Hey! I&apos;m Samuel, a nerdy student and developer who loves learning, making cool stuff, and solving problems!
	</p>
</section>