---
---
<h2 class="text-center text-3xl">Something went wrong... Try emailing me directly at <a class="text-blue-700" href={`mailto:${import.meta.env.PUBLIC_EMAIL_TO}?subject=[PORTFOLIO] `}>{import.meta.env.PUBLIC_EMAIL_TO}</a></h2>