---
---
<nav class="sticky bg-bgc z-10 w-screen top-0 grid grid-cols-2">
	<div class="flex flex-row justify-center items-center">
		<h1 class="text-5xl">Samuel Fernandez</h1>
	</div>
	<div class="flex flex-row justify-around items-center text-4xl">
		<a>About Me</a>
		<a>Projects</a>
		<a>Contact Me</a>
	</div>
</nav>