---

---

<nav
  class="sticky top-0 z-10 flex w-screen flex-row items-center justify-center bg-bgc bg-opacity-70 p-3 font-space-grotesk lg:grid lg:grid-cols-2">
  <div
    class="flex w-screen flex-col items-center justify-start md:flex-row md:justify-around lg:w-auto lg:justify-center">
    <h1>
      <a href="/" class="w-min text-center text-4xl md:text-5xl lg:w-max">
        Samuel Fernandez
      </a>
    </h1>
    <div class="flex flex-row items-center justify-around lg:mx-5">
      <a target="_blank" href="https://github.com/polypixeldev">
        <img
          src="/images/contact/gh.png"
          class="m-2 h-7 w-7 rounded-full bg-white md:h-10 md:w-10"
        />
      </a>
      <a href={`mailto:${import.meta.env.EMAIL_FROM}`}>
        <img
          src="/images/contact/email.svg"
          class="m-2 h-7 w-7 md:h-10 md:w-10"
        />
      </a>
    </div>
  </div>
  <div class="hidden flex-row items-center justify-around text-4xl lg:flex">
    <a href="/#about">About Me</a>
    <a href="/#projects">Projects</a>
  </div>
</nav>
