---
import { Image } from "astro:assets";
import gh from "../images/contact/gh.webp";
import email from "../images/contact/email.svg";
---

<nav
  class="sticky top-0 z-30 flex w-screen flex-row items-center justify-center bg-bgc bg-opacity-70 p-3 font-space-grotesk lg:grid lg:grid-cols-2">
  <div
    class="flex w-screen flex-col items-center justify-start md:flex-row md:justify-around lg:w-auto lg:justify-center">
    <h1>
      <a href="/" class="group w-min text-center text-4xl md:text-5xl lg:w-max">
        Samuel Fernandez
        <span
          class="block h-0.5 max-w-0 bg-white transition-all duration-500 group-hover:max-w-full"
        ></span>
      </a>
    </h1>
    <div class="flex flex-row items-center justify-around lg:mx-5">
      <a target="_blank" href="https://github.com/polypixeldev">
        <Image
          src={gh}
          alt="The GitHub logo"
          class="m-2 h-7 w-7 rounded-full bg-white transition-all duration-300 hover:[box-shadow:0px_0px_10px_#fff] md:h-10 md:w-10"
        />
      </a>
      <a href={`mailto:${import.meta.env.EMAIL_FROM}`}>
        <Image
          src={email}
          alt="An email icon"
          class="m-2 w-7 rounded-md transition-all duration-300 hover:[box-shadow:0px_0px_10px_#fff] md:w-10"
        />
      </a>
    </div>
  </div>
  <div class="hidden flex-row items-center justify-around text-4xl lg:flex">
    <a href="/#about" class="group">
      About Me
      <span
        class="block h-0.5 max-w-0 bg-white transition-all duration-500 group-hover:max-w-full"
      ></span>
    </a>
    <a href="/#projects" class="group">
      Projects
      <span
        class="block h-0.5 max-w-0 bg-white transition-all duration-500 group-hover:max-w-full"
      ></span>
    </a>
    <a href="/#blog" class="group">
      Blog
      <span
        class="block h-0.5 max-w-0 bg-white transition-all duration-500 group-hover:max-w-full"
      ></span>
    </a>
  </div>
</nav>
