---
import Project from "./project.astro";
import type ProjectFrontmatter from "../interfaces/ProjectFrontmatter";

const projects = await Astro.glob<ProjectFrontmatter>("../pages/projects/*.md");
---

<section id="projects" class="z-20 my-5 w-full">
  <h2 class="my-2 text-center font-space-grotesk text-5xl">Projects</h2>
  <div class="m-2 columns-1 md:columns-2 lg:columns-3">
    {projects.map((project) => <Project project={project} />)}
  </div>
</section>

<script>
  document.querySelectorAll(".projectDiv").forEach((div) => {
    div.addEventListener("click", () => {
      const url = div.attributes.getNamedItem("data-url")?.value;

      if (url) {
        window.location.href = url;
      }
    });
  });
</script>
