---
import Project from "./project.astro";

interface Frontmatter {
  name: string;
  repo: string;
  description: string;
  stack: string[];
}

const projects = await Astro.glob<Frontmatter>("../pages/projects/*.md");
---

<section id="projects" class="w-full">
  <h2 class="text-center font-space-grotesk text-5xl">Projects</h2>
  <div class="m-2 columns-3">
    {projects.map((project) => <Project project={project} />)}
  </div>
</section>
