---
import Project from "./project.astro";

interface Frontmatter {
  name: string;
  repo: string;
  description: string;
  stack: string[];
}

const projects = await Astro.glob<Frontmatter>("../pages/projects/*.md");
---

<section id="projects" class="m-4 lg:m-10">
  <h2 class="text-center font-space-grotesk text-4xl">Projects</h2>
  <div
    class="m-2 grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-10 lg:m-10 lg:gap-48">
    {projects.map((project) => <Project project={project} />)}
  </div>
</section>
