---
interface Props {
	name: string
}

const { name } = Astro.props;
---
<div class="flex flex-col justify-center items-center">
	<img src={`/images/techIcons/${name}.png`} class="w-10 h-10 m-3" />
	<p>{name}</p>
</div>