---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="m-1 flex flex-col items-center justify-center transition-all duration-300 hover:[filter:drop-shadow(0px_0px_20px_rgba(255,255,255,0.5))]">
  <img
    src={`/images/techIcons/${name}.webp`}
    alt={name}
    class="m-3 h-10 w-10"
  />
  <p>{name}</p>
</div>
