---
import { getCollection } from "astro:content";

import Project from "../../components/project.astro";
import BaseLayout from "../../layouts/baseLayout.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
  <meta
    name="description"
    content="Homepage of Samuel Fernandez, a nerdy student and developer who loves learning,
making cool stuff, and solving problems!"
    slot="metadata"
  />
  <main>
    <div class="flex items-center justify-center">
      <div class="w-5/6">
        <div class="flex flex-col items-center justify-start">
          <section id="projects" class="z-20 my-5 w-full">
            <h2
              class="my-2 text-center font-space-grotesk text-4xl lg:text-5xl">
              Projects
            </h2>
            <p class="text-center text-2xl lg:text-3xl">
              Here are all of the projects that I've worked on so far!
            </p>
            <div class="m-2 columns-1 md:columns-2 lg:columns-3">
              {projects.map((project) => <Project project={project} />)}
            </div>
            <p class="py-5 text-center text-xl lg:text-2xl">
              There's a lot more smaller projects that I also had a lot of fun
              making like <a
                class="underline"
                href="https://emojip.sfernandez.dev">EmojIP</a
              > - check out <a
                class="underline"
                href="https://github.com/polypixeldev">my GitHub</a
              > to see some of those!
            </p>
          </section>
        </div>
      </div>
    </div>
  </main>
  <script>
    document.querySelectorAll(".projectDiv").forEach((div) => {
      div.addEventListener("click", () => {
        const slug = div.attributes.getNamedItem("data-slug")?.value;

        if (slug) {
          window.location.href = `/projects/${slug}`;
        }
      });
    });
  </script>
</BaseLayout>
